<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>


<meta charset="UTF-8" />
<!-- 或者  <meta charset="UTF-8" ></meta> -->
<title>Thymeleaf Demo</title>
<!-- <script type="text/javascript" src="${pageContext.request.contextPath }/statics/js/jquery-2.1.1.min.js"></script> -->
</head>
<body>
	<h2 th:text="${Time}"></h2>
	<text th:text="${test}"></text><br/><br/>
	<!-- 标签按钮中访问 -->
<!-- 	<button type="button" th:οnclick="'javascript:check('+${corp.id}+',2)'">审核</button> -->


<a th:href="@{/htmltest/test1}">空指向本机</a><br/><br/>
<a th:href="@{/htmltest/test2}">测试位2号</a><br/><br/>
<a th:href="@{/htmltest/test3}">测试位3号</a><br/><br/>
<a th:href="@{/htmltest/test4}">测试位4号</a><br/><br/>
<a th:href="@{/htmltest/test5}">测试位5号</a><br/><br/>

<div>
	<h3>多线程爬取图片方法</h3>
	<ul>
		<li><a th:href="@{/ToolThread/Testlist}">测试1号</a></li>
		<li><a th:href="@{/ToolThread/Moeimg}">Moeimg</a></li>
		<li><a th:href="@{/ToolThread/SssGif}">SssGif</a></li>
		<li><a th:href="@{/ToolThread/test2}">测试位3号</a></li>
		<li><a th:href="@{/ToolThread/test2}">测试位4号</a></li>
	</ul>
</div>




</body>
</html>
